@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: rgb(0, 0, 0);
  --background: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: rgb(255, 255, 255);
    --background: rgb(22 32 47);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  a {
    @apply underline decoration-sky-300 dark:decoration-sky-600;
  }
}

@layer components {
  .divided {
    @apply divide-neutral-500/25 dark:divide-neutral-400/25;
  }
  .divided-x {
    @apply divided divide-x;
  }
  .divided-y {
    @apply divided divide-y;
  }

  .secondary-text {
    @apply text-gray-700 dark:text-gray-400;
  }
  .card {
    @apply rounded-lg p-2 bg-slate-200 dark:bg-slate-800 raised;
  }
  .clickable-card {
    @apply card;
    @apply cursor-pointer hover:bg-slate-300 dark:hover:bg-slate-700;
  }

  .raised {
    @apply shadow-black/50 shadow;
  }
}
